body {
    font-family: sans-serif;
    font-size: 16px;
}
.navegacao {
    max-width: 1000px;
    margin: 0 auto; /*Esse centraliza blocos*/
}



.navegacao .logo {
    max-width: 300px;
}
.navegacao ul {
    display: flex;
      /*width:100%*/
    flex-direction:row;
    align-items:center;
    list-style: none; 
}

.navegacao ul li {
   text-align: center;
   flex-grow: 1;
    padding: 0 20px;
    font-size: 16px;

}

.navegacao .Duda {
    max-width: 600px;
}